@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --textColor: #F1C40E;
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --color-textColor: var(--textColor);
  /* --font-poppins: var(--font-poppins); */
  /* --font-sans: var(--font-geist-sans); */
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* color: var(--textColor); */
  font-family: Poppins, Helvetica, sans-serif;
}
