@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --primaryColor: #F1C40E;
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --color-primaryColor: var(--primaryColor);
  /* --font-poppins: var(--font-poppins); */
  /* --font-sans: var(--font-geist-sans); */
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* color: var(--textColor); */
  font-family: Poppins, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}